#edit-modal-background {
  position: fixed; 
  z-index: 999; 
  left: 25%; 
  height: 100%; 
  width: 100%; 
  top: 0; 
  left: 0; 
  background-color: rgba(0,0,0,0.5); 
  display: flex; 
  justify-content: center;
  text-align: center;
}

#edit-form {
  background: #FFFAFA; 
  width: 750px; 
  height: 500px; 
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: space-evenly; 
}

#modal {
  border: 3px solid #1e1e1f; 
  width: 750px; 
  height: 500px; 
  position: absolute; 
  top: 0%;
  display: flex;
  text-align: center; 
  top: 25%;
  /* color: white; */
}

#close-form {
  position: absolute; 
  top: 0; 
  right: 0;
}

#title {
  width: 150px; 
  right: 50%;
  font-weight: bold;
}

#date {
  color: green;
}

#title-input2 {
  width: 150px; 
  background: #Fdfcfa;
  right: 50%;
  font-weight: bold;
}

#text-area2 {
  height: 150px; 
  background: #Fdfcfa;
  width: 500px;
}

#submit2 {
  width: 100px;
  margin-bottom: 5px;
}

#input-div {
  text-align: center;
  /* background:  #E0FFFF; */
  color: white;
  /* margin: 50px auto; not this */
  /* max-width: 500px; */
  padding: 25px;
}

#add-form {
  /* background-color: blue; */
  background-color: pink;
  border: white solid 3px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: grid;
  /* margin: 100px auto; */
  margin: 0px auto;
  position: relative;
  /* top: 90px; */
}

body {
  /* background: #FFFAFA; */
  /* background: #00BFFF; */
  background: #af9dff;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

#header {
  background: pink;
  color: white;
  font-size: 38px;
  border: white solid 5px;
  /* height: 50px; */
  /* margin-bottom: 1rem; */
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 25%);
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
}

#delete-button {
  text-decoration: none;
  display: inline-block;
  background-color: pink;
  border: white solid 3px;
  color: white;
  margin: 5px;
}

#edit-button {
  text-decoration: none;
  display: inline-block;
  background-color: pink;
  border: white solid 3px;
  color: white;
}

html {
  /* width: max-content; */
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#show-entries {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

.diary-item {
  /* background-color: brown; */
  /* height: 50px;
  width: 50px; */
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  color: white;
}

.diary-item .item-date {
  display: block;
  text-decoration: none;
  padding: 5px;
  /* background-color: black; */

}

.diary-item .item-entry {
  display: block;
  text-decoration: none;
  padding: 5px;
}