* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #FCFCFC; */
  background-color: rgba(156, 192, 231, 0.2); 
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.Calendar {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: 30px;
  grid-auto-rows: 50px;
  text-align: center;
  background-color: #222021;
  color: #d9dddc;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.Calendar-controls {
  background-color: #222021;
  color: #d9dddc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.Calendar-day {
  text-decoration: none;
  color: inherit;
}

.Calendar-day.is-monday {
  grid-column-start: 1;
}

.Calendar-day.is-tuesday {
  grid-column-start: 2;
}

.Calendar-day.is-wednesday {
  grid-column-start: 3;
}

.Calendar-day.is-thursday {
  grid-column-start: 4;
}

.Calendar-day.is-friday {
  grid-column-start: 5;
}

.Calendar-day.is-saturday {
  grid-column-start: 6;
}

.Calendar-day.is-sunday {
  grid-column-start: 7;
}

.Calendar-day.selected-today {
  background: blue;
}

.Calendar-button {
  background-color: #222021;
  color: #d9dddc;
  font-size: 24px; /* change to em */
  text-decoration: none;
}

.Calendar-month {
  grid-column: 3 / span 3;
  font-size: 24px; /* change to em */
  margin: 10px;
}
.Calendar-weekday {
  /* grid-auto-rows: 30px; */
}

.Calendar-year {
  grid-column: 6 / span 2;
  /* background-color: pink; */
  font-size: 24px; /* change to em */
  margin: 10px;
}

#category-button {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  height: 35px;
  /* color: white; */
  color: rgb(47, 47, 47);
}

.category-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background: red; */
  margin: 20px;
}

.category-div {
  display: flex;
  align-items: center;
}

#category-title {
  margin-left: 15px;
  color: rgb(47, 47, 47);
}

#close-form {
  position: absolute; 
  top: 0; 
  right: 0;
}

.container {
  height: 100%;
}

#date {
  margin-left: 15px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.delete-entry-button {
  color: inherit;
  background: none;
  position: absolute; 
  right: 0px;
  top: 0px;
  width: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.diary-item {
  padding: 5px;
  color: black;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 150px;
  height: auto;
}

.header {
  background: rgba(156, 192, 231, 0.2);
  color: rgb(47, 47, 47);
  font-size: 24px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#header-new-item-button {
  margin-right: 10px;
}

html {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-entry {
  overflow: hidden;
  margin-block-start: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#show-entry {
  height: 100%;
}


#show-entries {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-block-start: 0vh;
  margin-block-end: 0vh;
}

#show-entry-title {
  font-size: 36px;
  margin-block-start: 0vh;
  margin-block-end: 0vh;
}

.show-item-entry {
  margin-block-start: 0vh;
  /* margin-block-end: 0vh; */
}

.show-item {
  padding: 5px;
  color: black;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
